body {
    background-color: white;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sudokuBox     { 
    border-collapse: collapse;
    border: 2px solid lightblue;
    max-width: 50px;
}



    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
        margin-bottom: 0;
        border-radius: 0;
      }
      
      