body {
    background-color: white;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}

.sudokuBox     { 
    border-collapse: collapse;
    border: 2px solid lightblue;
    max-width: 50px;
}

.btn-secondary {
    margin: 5px;
}